<?xml version="1.0"?>
<!--
  ~ Copyright © 2016 MagestyApps. All rights reserved.
  ~  * See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magestyapps_fbcomments>
            <general>
                <enabled>1</enabled>
            </general>
            <design>
                <block_position>after_all</block_position>
                <color_scheme>light</color_scheme>
                <num_posts>5</num_posts>
                <order_by>social</order_by>
                <width></width>
            </design>
        </magestyapps_fbcomments>
    </default>
</config>
