<?xml version="1.0"?>

<!--
  ~ Copyright © 2016 MagestyApps. All rights reserved.
  ~  * See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magestyapps" translate="label" sortOrder="150">
            <label>MagestyApps Extensions</label>
        </tab>

        <section id="magestyapps_fbcomments" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Facebook Comments</label>
            <tab>magestyapps</tab>
            <resource>MagestyApps_GeoipSwitcher::geoip_extensions</resource>

            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="block_position" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block Position</label>
                    <source_model>MagestyApps\FBComments\Model\Config\Source\Position</source_model>
                </field>

                <field id="color_scheme" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color Scheme</label>
                    <source_model>MagestyApps\FBComments\Model\Config\Source\ColorScheme</source_model>
                </field>

                <field id="num_posts" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Number of Comments</label>
                </field>

                <field id="order_by" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Order By</label>
                    <source_model>MagestyApps\FBComments\Model\Config\Source\OrderBy</source_model>
                </field>

                <field id="width" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Width of the Plugin</label>
                </field>

            </group>
        </section>

    </system>
</config>